body {
    margin: 25px;
    background-color: rgb(92, 194, 228);
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 25px;
}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}